

body {
    background-color: #f7f7e8;
    width: 60%;
    margin: auto;
}

hr {
    background-color: white;
    border-top: dotted;
    border-width: 5px;
    width: 70%;
    margin-bottom: 40px;
}

h1 {
  color: #9dad7f;
}

h2 {
  color: #557174;
}
h3 {
  color: #557174;
}
